services:
  simplevm-client-giessen:
    container_name: simplevm-client-giessen
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - ${CLIENT_PORT}:9090
    env_file:
      - .env.dev.giessen
    environment:
      - TERM=xterm-256color
    tty: true
    volumes:
      - ./simple_vm_client/config/config_giessen.yml:/code/simple_vm_client/config.yml
      - ./simple_vm_client/keys/localhost/server.pem:/code/simple_vm_client/keys/server.pem
    command: python3 VirtualMachineServer.py /code/simple_vm_client/config.yml
    networks:
      - portal

  simplevm_client_giessen_redis:
    container_name: simplevm_client_giessen_redis
    image: redis:8.4.0
    expose:
      - "6379"
    networks:
      - portal

  simplevm_metadata_server:
    container_name: simplevm_metadata_server
    image: quay.io/denbicloud/simplevm-metadata-server:1.0.0
    ports:
      - "8008:8008"
    depends_on:
      - simplevm_metadata_server_redis
    environment:
      - METADATA_WRITE_TOKEN
      - METADATA_PORT=8008
      - METADATA_HOST=0.0.0.0
    networks:
      - portal
    restart: unless-stopped

networks:
  portal:
    name: portal
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1440
