services:
  simplevm-client:
    container_name: simplevm-client
    image: quay.io/denbicloud/simplevm-client:${CLOUD_PORTAL_CLIENT_TAG}
    expose:
      - "9090"  # Expose the service port
    env_file:
      - .env
    environment:
      - TERM=xterm-256color
    tty: true
    volumes:
      - ${client_PERSISTENT_PATH}/config.yml:/code/simple_vm_client/config.yml
      - ${client_PERSISTENT_PATH}/server.pem:/code/simple_vm_client/keys/server.pem
      - ${client_PERSISTENT_PATH}/server.pem:/code/simple_vm_client/keys/CA.pem
      - ./logs/client:/code/simple_vm_client/log:rw
    command: python3 VirtualMachineServer.py /code/simple_vm_client/config.yml
    network_mode: host  # Use the host network namespace

  simplevm_client_redis:
    container_name: simplevm_client_redis
    network_mode: host  # Use the host network namespace
    image: redis:8.2.3
    expose:
      - "6379"

  simplevm_bibigrid:
    container_name: simplevm_bibigrid
    image: quay.io/denbicloud/bibigrid:${BIBIGRID_TAG}
    network_mode: host  # Use the host network namespace

    volumes:
      - ./scripts/bibigrid/clear_keys_cron:/etc/crontabs/root
    env_file:
      - .env
    environment:
      - server.enableHttps=false
      - server.enableHttp=true
    expose:
      - "8080"


  simplevm_client_filebeat:
    container_name: simplevm_client_filebeat
    image: docker.elastic.co/beats/filebeat:9.2.0
    network_mode: host  # Use the host network namespace

    env_file:
      - .env
    volumes:
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml
      - ./logs:/usr/share/filebeat/log:ro
      - ./filebeat/data:/usr/share/filebeat/data:rw
    command: [ sh, -c, "chmod go-w /usr/share/filebeat/filebeat.yml && filebeat run -e" ]
