setuptools==80.9.0
thrift==0.22.0
openstacksdk==4.7.0
deprecated==1.2.18
Click==8.2.2
ansible==11.9.0
flake8==7.3.0
paramiko==4.0.0
ruamel.yaml==0.18.15
pyvim==3.0.3
redis==6.4.0
requests==2.32.5
pyyaml==6.0.2
pre-commit==4.3.0
types-PyYAML==6.0.12.20250822
sympy==1.14.0
colorama==0.4.6
gevent==25.8.2
types-redis==4.6.0.20241004
oslo.utils==9.1.0
passlib==1.7.4
apscheduler==3.11.0
