setuptools==75.2.0
thrift==0.21.0
openstacksdk==4.0.1
deprecated==1.2.14
Click==8.1.7
ansible==10.5.0
flake8==7.1.1
paramiko==3.5.0
ruamel.yaml==0.18.6
pyvim==3.0.3
redis==5.2.0
requests==2.32.3
pyyaml==6.0.2
pre-commit==4.0.1
types-PyYAML==6.0.12.20240917
sympy==1.13.3
colorama==0.4.6
gevent==24.10.3
pytest==8.3.3
types-redis==4.6.0.20241004
oslo.utils==7.3.0
