setuptools==80.8.0
thrift==0.22.0
openstacksdk==4.6.0
deprecated==1.2.18
Click==8.2.1
ansible==11.5.0
flake8==7.2.0
paramiko==3.5.1
ruamel.yaml==0.18.14
pyvim==3.0.3
redis==6.2.0
requests==2.32.4
pyyaml==6.0.2
pre-commit==4.2.0
types-PyYAML==6.0.12.20250516
sympy==1.14.0
colorama==0.4.6
gevent==25.5.1
types-redis==4.6.0.20241004
oslo.utils==9.0.0
passlib==1.7.4
apscheduler==3.11.0
